<div>
<img class="content" role="main"  width="150" src="/assets/img/logo1.png" alt="">
<p class="content">Slytherin's opposition over the idea to allow witches and wizards from half-blood and Muggle-born heritage 
    to enrol at Hogwarts during its foundation created great controversy at the school and it was the root of a feud between 
    former friends Slytherin and Godric Gryffindor. Slytherin later decided to leave the school when an argument started between 
    him and Gryffindor, and they either duelled or started a civil war between the two houses. Such an argument would be forever 
    known as the origin of the feud between their two houses and also made them the houses that are most competitive.

    When Slytherin departed Hogwarts, he would leave behind the Chamber of Secrets with the purpose of an heir opening the chamber one day
     and unleashing a means of purging the school of those who, in his view, were unworthy to study magic: Muggle-borns. The chamber was opened 
     twice and the Serpent of Slytherin was killed the second time by Harry Potter in 1992.
      Slytherin's views at the time could be attributed to the persecution of witches and wizards at the hand of Muggles during that century.</p>

<img class="content" role="main"  width="150" src="/assets/img/logo2.png" alt="">
<p class="content">Gryffindor was one of the four Houses of Hogwarts School of Witchcraft and Wizardry and was founded by Godric Gryffindor. Gryffindor instructed the 
    Sorting Hat to choose students possessing characteristics he most valued, such as courage, chivalry, and determination, to be sorted into his house. 
    The emblematic animal was a lion, and its colours were scarlet and gold. Sir Nicholas de Mimsy-Porpington, also known as "Nearly Headless Nick", was the House ghost.

    Gryffindor corresponded roughly to the element of fire, and it was for this reason that the colours scarlet and gold were chosen to represent the house.
     The colour of fire corresponded to that of a lion as well, with scarlet representing the mane and tail and gold representing the coat.</p>

<img class="content" role="main"  width="150" src="/assets/img/logo3.png" alt="">
<p class="content">Ravenclaw was one of the four Houses of Hogwarts School of Witchcraft and Wizardry. Its founder was the medieval witch Rowena Ravenclaw.
     Members of this house were characterised by their wit, learning, and wisdom. The emblematic animal symbol was an eagle, and blue and bronze were its colours.
      The Head of Ravenclaw was Filius Flitwick, and the House ghost was the Grey Lady, real name Helena Ravenclaw, daughter of Rowena.

    Ravenclaw corresponded roughly to the element of air, and it was for that reason that the House colours were chosen; blue and bronze 
    represented the sky and eagle feathers respectively, both having much to do with air. The Ravenclaw points hourglass contained blue sapphires.</p>

<img class="content" role="main"  width="150" src="/assets/img/logo4.png" alt="">
<p class="content">Hufflepuff was one of the four Houses of Hogwarts School of Witchcraft and Wizardry. Its founder was the medieval witch Helga Hufflepuff.
     Hufflepuff was the most inclusive among the four houses, valuing hard work, dedication, patience, loyalty, and fair play rather than a particular aptitude in its members.
      The emblematic animal was a badger, and yellow and black were its house colours. The Head of Hufflepuff was Pomona Sprout, and the Fat Friar was the House's patron ghost.

    Hufflepuff corresponded roughly to the element of earth, and it was for that reason that the House colours were chosen: yellow represented wheat, while black was emblematic of soil.
     The Hufflepuff point hourglass contained yellow diamonds. Students sorted into Hufflepuff often demonstrated exceptional abilities in Herbology,
      owing to their correspondence to earth.</p>

</div>